/* --- navigation --- */
nav {
	width: 100%;
	height: 70px;
	margin: 0;
	position: fixed;
	top: 0px;
	background-color: #444;
	border-bottom-color: rgba(128, 128, 128, 0.4);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	color: #fff;
	z-index: -1;
}


/*--- parallax ---*/
#container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

section {
	position: relative;
	height: 900px;
	width: 100%;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
}


/* --- first section --- */
#ct-logo {
	background-color: #ffcb4c;
	z-index: 1;
}

h1 {
	font-size: 72px;
	color: #fff;
	position: fixed;
	bottom: 10%;
	right: 5%;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}


/* --- second section ---*/
#ct-aboutme {
	background-color: #52dd53;
	z-index: 2;
}

#ct-aboutme h2 {
	position: fixed;
	top: 110%;
	left: 5%;
	font-size: 64px;
	color: #fff;
}

#findmeontheweb {
	position: fixed;
	left: 24px;
	bottom: 16px;
}

#findmeontheweb .link-wrapper {
	position: relative;
	bottom: -120px;
	margin-right: 16px;
	float: left;
}

#findmeontheweb .link-wrapper {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 1s ease;
	-moz-transform: -moz-transform 1s ease;
	-ms-transform: -ms-transform 1s ease;
	transition: transform 1s ease;
}

#findmeontheweb .link-wrapper:hover {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

#findmeontheweb .link-wrapper a {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

#findmeontheweb .link-wrapper .back {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

#findmeontheweb a {
	display: block;
	cursor: pointer;
	width: 96px;
	height: 96px;
	border-radius: 48px;
	margin-top: 16px;
	box-shadow: 0 20px 15px rgba(0, 0, 0, 0.2);
}


/* --- third section --- */

#ct-works {
	background-color: #1f789e;
	z-index: 3;
}

/* --- fourth section --- */

#ct-music {
	background-color: #ff8ed4;
	z-index: 4;
}

/* --- fifth section --- */

#ct-contact {
	background-color: #ff733b;
	z-index: 5;
}
